/* ==========================================================================
   #INPUT
   ========================================================================== */

/**
 * This makes input boxes look nicer instead of the default boring design
 * For styling, use a style variant
 * input HTML should include placeholder, required and tabindex attributes
 */

 /*
 * https://codepen.io/zellwk/pen/NeRaPw
* input box empty, uses ::placeholder-shown
 */


//  $input
$color-input-border-primary: $color-brand;
$color-input-outline-primary: $color-brand;
$color-input-empty-bg-primary: #c0c5ff;
$color-input-bg-hover-primary: #f4f4f4;

$color-input-border-active-primary: purple;
$color-input-bg-active-primary: $color-secondary;
$color-input-color-active-primary: white;


$color-input-border-secondary: $color-brand;
$color-input-outline-secondary: $color-brand;
$color-input-empty-bg-secondary: $color-brand;
$color-input-bg-hover-secondary: #f4f4f4;
$color-input-border-active-secondary: #f4f4f4;
$color-input-bg-active-primary: $color-secondary;
$color-input-color-active-secondary: white;



label,
input {
  /* display: block; */
  margin: 0 auto;
}

label {
  font-size: 20px;
  /* font-weight: 600; */
}

input {
  /* width: 100%; */
  font-size: 20px;
  width: 60px;
  border-style: solid;
  border-width: 1px;
}



// if you want to override the default hover and focus of the browsers
// which are inconsistent among browsers, use the hover, focus and active
// code within the primary and secondary classes
// Do something like class="c-btn btn--primary"


/* Style variants
   ========================================================================== */
// put class 'e-num' in and add javscript file in to add up/down arrow features
.e-input--primary {
  height: 2rem;
  padding: .15em .5em;
	font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 2px solid $color-input-border-primary;
  border-radius: 6px;


&:hover, &:focus, &:active {
  background-color: $color-input-bg-hover-primary;
  // transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}

&:focus, &:active {
  // outline: 3px dotted $color-btn-outline;
   color: $color-input-color-active-primary;
  outline: none;    // firefox puts a dashed outline on text
  background-color: $color-input-bg-active-primary;
  transition: background-color 0.2s linear, color 0.2s linear;
  // border: 1px solid $color-input-border-active-primary;
  box-shadow: 0 0 0 .125rem white, 0 0 0 .325rem $color-input-outline-primary;  // on focus keeps this border on the button after the click
}

&:placeholder-shown {
  background-color: $color-input-empty-bg-primary;
}

}


.e-input--secondary {
  height: 2rem;
	padding: .25em .5em;
	font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 2px solid $color-input-border-secondary;
	border-radius: 12px;

&:hover, &:focus, &:active {
  background-color: $color-input-bg-hover-secondary;
  transition: background-color 0.2s linear, color 0.2s linear;
}

&:focus, &:active {
  // outline: 3px dotted $color-btn-outline;
  color: $color-input-color-active-secondary;
  outline: none;    // firefox puts a dashed outline on text
  background-color: $color-input-bg-active-primary;
  transition: background-color 0.2s linear, color 0.2s linear;
  // border: 1px solid $color-input-border-active-secondary;
  box-shadow: 0 0 0 .125rem white, 0 0 0 .325rem $color-input-outline-secondary;  // on focus keeps this border on the button after the click
}

&:placeholder-shown {
  background-color: $color-input-empty-bg-secondary;
}

}




/* Size variants
   ========================================================================== */

.c-input--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-input--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}


/**
 * Positive buttons skin. Extends `.btn`.
 */
.e-input--positive {
  background-color: green;
  color: white;
}

/**
 * Negative buttons skin. Extends `.btn`.
 */
.e-input--negative {
  background-color: red;
  color: white;
}

