
# Exclude packaged modules
*.zip

# Notes files
0*.txt
*.$


### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map
scss/


# Dependency directories
node_modules/



# Logs
logs
*.log
npm-debug.log*


# Optional eslint cache
.eslintcache


.vscode/